.How2Play {
    font-size: 18px;
}

@media only screen and (max-width: 500px) {
    .How2Play {
        padding: 30px;
    }
}
@media only screen and (min-width: 500px) and (max-width: 900px) {
    .How2Play {
        padding: 0 150px;
    }
}
@media only screen and (min-width: 1000px) {
    .How2Play {
        padding: 0 300px;
    }
}