@media (prefers-color-scheme: dark) { 
    .buttons button {
        background: black;
        color: white;
        font-size: 18px;
        margin: 10px;
        min-width: 60px;
        padding: 10px;
    }
}

@media (prefers-color-scheme: light) {
    .buttons button {
        background-color: initial;
        font-size: 18px;
        margin: 10px;
        min-width: 60px;
        padding: 10px;
    }
}

.buttonQuestions {
    padding: 200px;
    text-align: center;
}

.buttons .leftArrow {
    background-color: black;
    color: white;
}

.buttons .leftArrow:hover {
    background-color: darkgray;
    transition: 0.5s;
}



.buttons button:hover {
    background-color: lightgray;
    transition: 0.5s;
}