.material-icons { font-size: 30px; }
@media (prefers-color-scheme: dark) { 
    #leftArrow,  #rightArrow, #toHome, #toLevels {
        background-color: black;
        color: white;
    }
    #leftArrow:hover, #toHome:hover, #toLevels:hover { background-color: darkgray; }
    #ansSubmit { background-color: lightgray; }
}

@media (prefers-color-scheme: light) {
    #leftArrow, #rightArrow, #toHome, #toLevels { background-color: white; }
    #leftArrow:hover, #toHome:hover, #toLevels:hover { background-color: lightgray; }
}

#root { position: relative;}

#ans { padding: 5px; }

#ansSubmit {
    border-radius: 0;
    padding: 5px 10px;
}

.question { text-align: center; }

#leftArrow, #rightArrow, #toHome, #toLevels {
    border: 0;
    font-size: 30px;
}

#leftArrow { float: left; }

#leftArrow:hover, #rightArrow:hover, #toHome:hover, #toLevels:hover { transition: 0.25s ease; }

#rightArrow { float: right; }

#toHome {
    position: absolute;
    left: 0;
    bottom: 0;
    float: left;
}

#toLevels {
    position: absolute;
    right: 0;
    bottom: 0;
    float: right;
}

.active:hover {
    background-color: lightgray !important;
    transition: 0.25s ease;
}

.shape { font-size: 40px; }

.circle { font-size: 35px; }

.shape sup, .shape sup { font-size: 20px; }

table {
    border: 1px solid;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
}

td { padding: 10px; }

.symbol { font-size: 30px;}

table, .symbol {
    vertical-align: middle;
}